.v-slide {
    padding-bottom: 45px;
}

ion-scroll {
    height: 100px;
    max-height: 70%;
}
.card-group {
    padding-bottom: -3px;
}
.card-group .list {
   
    //background: #bbb;
}
.scroll-group{
    // min-height: 40px;
    overflow-x: hidden;
    height: auto;
    max-height: calc(100vh - 250px);
    width: 100%;
}

.card-header {
    font-weight: bold;
    text-align: left;
    font-size: 1.0em;
    // box-shadow: 0 1px 3px rgba(42, 41, 41, 0.12), 0 1px 2px rgba(42, 41, 41, 0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 1;
}

.card-header {
    padding-bottom: 0;
}

.card-content {
    padding: 0;
}



.card-shadow {
    margin: 1em;
    margin-top: 0;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
