<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button *ngIf="!selectedGroup" (click)="openMenu()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
      <ion-button *ngIf="selectedGroup" color="secondary" (click)="selectedGroup = null;">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button (click)="save()" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{project ? project.name: 'Carregando Projeto ...'}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="project" color="primary">
  <ion-slides style="height: 100%" *ngIf="project" lockSwipes="true">
    <ion-slide style="display: block;" *ngFor="let group of project.list">
      <ion-card class="card card-group" color="light">
        <ion-card-header color="light" class="card-header" (click)="selectedGroup = group; focused = true; focus()">
          <ion-item color="light" lines="none" *ngIf="selectedGroup != group">
            <b> {{group.name}} </b>
            <ion-badge slot="start" style="float: right;" [color]="group.value > 0 ? 'tertiary' : group.value < 0 ? 'danger' : 'primary'"
              item-end>R$ {{group.value | number: '1.2-2'}}</ion-badge>
          </ion-item>
          <ion-item *ngIf="selectedGroup == group">
            <ion-input #appFocus [(ngModel)]="group.name"></ion-input>
            <ion-badge slot="start" [color]="group.value > 0 ? 'tertiary' : group.value < 0 ? 'danger' : 'primary'"
              item-end>R$ {{group.value | number: '1.2-2'}}</ion-badge>
          </ion-item>

        </ion-card-header>
        <ion-card-content class="card-content-custom">
          <div class="scroll-group">
            <ion-reorder-group (ionItemReorder)="reorderSystem.execute(group, $event)" disabled="false">
              <ion-item class="card-shadow" lines="none" (click)="editCel(item, i, group)" *ngFor="let item of group.list; let i = index">
                <ion-label>
                  {{item.name}}
                </ion-label>

                <ion-badge *ngIf="item.value != 0" slot="start" [color]="item.value > 0 ? 'secondary' : item.value < 0 ? 'warning' : 'primary'"
                  item-end>R$ {{item.value | number: '1.2-2'}}</ion-badge>

                <ion-reorder slot="end"></ion-reorder>

              </ion-item>
            </ion-reorder-group>
          </div>
          <ion-button color="success" (click)="newItem(group)" expand="full" fill="clear">
            <ion-ripple-effect></ion-ripple-effect>
            Adicionar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-button (click)="newGroup()" expand="full" color="light">Adicionar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-menu *ngIf="menuCreated" contentId="project" menuId="project" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let item of projectMenu">
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            {{item.title}}
          </ion-item>
      </ion-list> -->
    <ion-list>
      <ion-item (click)="deletarProject()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Deletar
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>