<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item [routerLink]="'/project/' + item.title" routerDirection="forward" *ngFor="let item of items">
      {{item.title}}
    </ion-item>
  </ion-list>

  <ion-fab style="z-index: 2;" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="create()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>